<div class="container">
    <h2>Register Account</h2>
    <div class="form-group label-static is-empty">
        <label for="username" class="control-label">Username</label>
        <input id="username" name="username" class="form-content" type="text" placeholder="Choose a username" />
    </div>

    <div class="form-group label-static is-empty">
        <label for="email" class="control-label">Email</label>
        <input id="email" name="email" class="form-content" type="text" placeholder="Enter your email" />
    </div>

    <div class="form-group label-static is-empty">
        <label for="password" class="control-label">Password</label>
        <input id="password" name="password" class="form-content" type="password" placeholder="Enter your email" />
    </div>

    <button class="btn btn-info waves-effect ripple">Submit <div class="ripple-container"></div></button>

</div>